{% extends "base.html"%}{% load static %}{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  {% block title%} List Submissions - CIMPS{%endblock%}
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'images/favicon.ico'%}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Montserrat:300,400,500,600,700,800|Roboto:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.snow.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.bubble.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/simple-datatables/style.css'%}" rel="stylesheet">
  

  <link href="{% static 'assets/css/style.css'%}" rel="stylesheet">
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



</head>
{% block content %}
<body>


    <div class="pagetitle">
      <h1>List Submissions</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#" style="text-decoration: none;">Home</a></li>
          <li class="breadcrumb-item active"><a href="#" style="text-decoration: none;">List Submissions</a></li>
        </ol>
      </nav>
    </div>
    

   
    <section class="section dashboard">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="card">
              <div class="card-body">
                <div class="row">
                    <h1 class="bold-extra extra-bold-roboto" style="margin-top: 20px;">Existing Submissions</h1>
                </div>
                <div class="row">
                  <table class="table table-bordered table-striped mt-4">
                      <thead>
                          <tr>
                              <th>ID</th>
                              <th>Title</th>
                              <th>Abstract</th>
                              <th>Status</th>
                              <th>Progress</th>
                              <th>Score</th>
                              <th>Reviews</th>
                              <th>Recommendation</th>
                              <th>Actions</th>
                              <th>Final Decision</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for data in submission_data %}
                          <tr class="{% if data.submission.is_withdrawn %} bg-secondary {%elif data.submission.final_decision == 'accepted' %} bg-success {% elif data.submission.final_decision == 'rejected' %} bg-danger {% endif%}"">
                              <td class="{% if data.submission.is_withdrawn %} bg-secondary {%elif data.submission.final_decision == 'accepted' %} bg-success {% elif data.submission.final_decision == 'rejected' %} bg-danger {% endif%}"">{{ data.submission.submission_id }}</td>
                              <td  class="{% if data.submission.is_withdrawn %} bg-secondary {%elif data.submission.final_decision == 'accepted' %} bg-success {% elif data.submission.final_decision == 'rejected' %} bg-danger {% endif%}"">{{ data.submission.title }}</td>
                              <td  class="{% if data.submission.is_withdrawn %} bg-secondary {%elif data.submission.final_decision == 'accepted' %} bg-success {% elif data.submission.final_decision == 'rejected' %} bg-danger {% endif%}"">{{ data.submission.abstract }}</td>
                              <td  class="{% if data.submission.is_withdrawn %} bg-secondary {%elif data.submission.final_decision == 'accepted' %} bg-success {% elif data.submission.final_decision == 'rejected' %} bg-danger {% endif%}">{{ data.status }}</td>
                              <td  class="{% if data.submission.is_withdrawn %} bg-secondary {%elif data.submission.final_decision == 'accepted' %} bg-success {% elif data.submission.final_decision == 'rejected' %} bg-danger {% endif%}"">
                                  <div class="progress">
                                      <div class="progress-bar" role="progressbar" 
                                           style="width: {{ data.completion_percentage }}%"
                                           aria-valuenow="{{ data.completion_percentage }}" 
                                           aria-valuemin="0" aria-valuemax="100">
                                          {{ data.completion_percentage|floatformat:0 }}%
                                      </div>
                                  </div>
                              </td>
                              <td  class="{% if data.submission.is_withdrawn %} bg-secondary {%elif data.submission.final_decision == 'accepted' %} bg-success {% elif data.submission.final_decision == 'rejected' %} bg-danger {% endif%}">
                                  {% if data.average_score %}
                                      <span class="badge bg-primary">{{ data.average_score }}/10</span>
                                  {% else %}
                                      <span class="badge bg-secondary">Pending</span>
                                  {% endif %}
                              </td>
                              <td  class="{% if data.submission.is_withdrawn %} bg-secondary {%elif data.submission.final_decision == 'accepted' %} bg-success {% elif data.submission.final_decision == 'rejected' %} bg-danger {% endif%}">{{ data.completed_reviews }}/{{ data.total_reviews }}</td>
                              <td  class="{% if data.submission.is_withdrawn %} bg-secondary {%elif data.submission.final_decision == 'accepted' %} bg-success {% elif data.submission.final_decision == 'rejected' %} bg-danger {% endif%}">
                                  {% if data.final_recommendation %}
                                      <span class="badge 
                                          {% if data.final_recommendation == 'Strong Accept' %}bg-success
                                          {% elif data.final_recommendation == 'Accept' %}bg-info
                                          {% elif data.final_recommendation == 'Weak Accept' %}bg-primary
                                          {% elif data.final_recommendation == 'Reject' %}bg-warning
                                          {% elif data.final_recommendation == 'Strong Reject' %}bg-danger
                                          {% else %}bg-secondary{% endif %}">
                                          {{ data.final_recommendation }}
                                      </span>
                                  {% else %}
                                      <span class="badge bg-secondary">Pending</span>
                                  {% endif %}
                              </td>
                              <td>
                                {% if not data.submission.is_withdrawn %}
                                <button class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#reviewsModal{{ data.submission.submission_id }}" >
                                  View Reviews
                              </button> <br>
                              {% if data.final_recommendation %}
                              <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#decisionModal{{ data.submission.submission_id }}" style="margin-top: 10px;">
                                Issue Decision
                              </button>
                              <br>
                              {% endif %}
                                {%else%}
                                Withdrawn Submission
                                {% endif%}
                              </td>
                              <td  class="{% if data.submission.is_withdrawn %} bg-secondary {%elif data.submission.final_decision == 'accepted' %} bg-success {% elif data.submission.final_decision == 'rejected' %} bg-danger {% endif%}"">{{ data.submission.final_decision }}</td>

                          </tr>

                          <div class="modal fade" id="decisionModal{{ data.submission.submission_id }}" tabindex="-1" aria-labelledby="decisionModalLabel{{ data.submission.submission_id }}" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="decisionModalLabel{{ data.submission.submission_id }}">Issue Decision for Submission ID {{ data.submission.submission_id }}</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <form id="decisionForm{{ data.submission.submission_id }}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                      <label for="decisionSelect{{ data.submission.submission_id }}" class="form-label">Decision</label>
                                      <select class="form-select" id="decisionSelect{{ data.submission.submission_id }}" name="decision">
                                        <option value="rejected">Rejected</option>
                                        <option value="minor_changes">Accepted with Minor Changes</option>
                                        <option value="major_changes">Accepted with Major Changes</option>
                                        <option value="accepted">Accepted</option>
                                      </select>
                                    </div>
                                  </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                  <button type="button" class="btn btn-success" onclick="generateDecision('{{ data.submission.submission_id }}')">Submit Decision</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                      </tbody>
                  </table>
                </div>
                <script>
                  function generateDecision(submissionId) {
    const selectElement = document.getElementById(`decisionSelect${submissionId}`);
    const selectedDecision = selectElement.value;
    const url = `/generate_decision/${submissionId}/`;

    // Mostrar loader con Swal
    Swal.fire({
        title: 'Please wait',
        text: 'Generating decision letter...',
        allowOutsideClick: false,
        didOpen: () => {
            Swal.showLoading(); // Muestra el loader
        },
    });

    // Realiza la solicitud usando Fetch API
    fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken'),
        },
        body: JSON.stringify({ decision: selectedDecision })
    })
    .then(response => {
        if (response.ok) {
            return response.text();
        } else {
            throw new Error('Error generating the decision letter');
        }
    })
    .then(data => {
        // Cierra el loader y muestra éxito
        Swal.fire({
            icon: 'success',
            title: 'Success',
            text: 'The decision letter has been sent successfully!',
        });
    })
    .catch(error => {
        console.error('Error:', error);
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'There was an error generating the decision letter.',
        });
    });
}
//CSFR Token
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

              </script>
              
                
                
                
              </div>            
            </div>          
        </div>
      </div>
    </section>
    
  </main><!-- End #main -->
  
    
        {% for data in submission_data %}
        <!-- Modal for Reviews -->
        <div class="modal fade" id="reviewsModal{{ data.submission.submission_id }}" tabindex="-1" aria-labelledby="reviewsModalLabel{{ data.submission.submission_id }}" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reviewsModalLabel{{ data.submission.submission_id }}">Reviews for {{ data.submission.title }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% if data.submission.review_set.all %}
                        <ul class="list-group">
                            {% for review in data.submission.review_set.all %}
                            <li class="list-group-item">
                                <strong>Reviewer:</strong> {{review.reviewer.first_name}} {{review.reviewer.last_name}}. <br> (Username: {{ review.reviewer.username }}. Email: < {{review.reviewer.email}} >) <br>
                                <strong>Recommendation:</strong> {{ review.get_recommendation_display }}<br>
                                <strong>Score:</strong> {{ review.calculate_score }}/10<br>
                                <strong>Categorization:</strong> {{ review.get_categorization_display }}<br>
                                <strong>New Information:</strong> {{ review.new_information|yesno:"Yes,No" }}<br>
                                <strong>Valuable Confirmation:</strong> {{ review.valuable_confirmation|yesno:"Yes,No" }}<br>
                                <strong>Clarity to Understanding:</strong> {{ review.clarity_to_understanding|yesno:"Yes,No" }}<br>
                                <strong>New Perspective:</strong> {{ review.new_perspective|yesno:"Yes,No" }}<br>
                                <strong>Not Much:</strong> {{ review.not_much|yesno:"Yes,No" }}<br>
                                <strong>Other Value:</strong> {{ review.other_value }}<br>
                                <strong>Reviewer Familiarity:</strong> {{ review.get_reviewer_familiarity_display }}<br>
                                <strong>Best Submission Candidate:</strong> {{ review.best_submission_candidate|yesno:"Yes,No" }}<br>
                                <strong>Appropriate Length:</strong> {{ review.appropriate_length|yesno:"Yes,No" }}<br>
                                <strong>Difference from Previous:</strong> {{ review.get_difference_from_previous_display }}<br>
                                <strong>Author Comments:</strong> {{ review.author_comments }}<br>
                                <strong>Committee Comments:</strong> {{ review.committee_comments }}<br>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>No reviews available for this submission.</p>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'assets/vendor/quill/quill.js' %}"></script>
  <script src="{% static 'assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>
{%endblock%}
</html>