{% extends "base.html" %}{% load static %}{% load socialaccount %}{% load countries %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  {%block title %}See my diplomas - CIMPS{%endblock%}
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'images/favicon.ico'%}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.snow.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/quill/quill.bubble.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/simple-datatables/style.css'%}" rel="stylesheet">

  <link href="{% static 'assets/css/style.css'%}" rel="stylesheet">
  <link href="{% static 'flags/sprite.css'%}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  


</head>
{%block content %}
<body>
  {% if messages %}
    <script>
      $(document).ready(function() {
        {% for message in messages %}
          // Aquí verificamos si el mensaje tiene una propiedad "level" para determinar su tipo
          {% if message.tags == "success" %}
            Swal.fire({
              title: 'Success!',
              text: "{{ message }}",
              icon: 'success',
              confirmButtonText: 'Ok'
            });
          {% elif message.tags == "error" %}
            Swal.fire({
              title: 'Error!',
              text: "{{ message }}",
              icon: 'error',
              confirmButtonText: 'Ok'
            });
          {% endif %}
        {% endfor %}
      });
    </script>
{% endif %}


    <div id="completed-payment" class="alert alert-danger" role="alert">
        <pre><h3>VERY IMPORTANT: </h3> It is important to show the QR code at the entrance of each place assigned for the registered event for register your assistance. <br> In case that you do not register your assistance, you will not be able to receive your diploma, no exceptions. <br> <strong>The diplomas will be generated after an hour of the event.</strong></pre>
    </div>


    <div class="pagetitle">
      <h1>My Diplomas</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Diplomas - Registered Events where you assisted</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">
            <!-- Reports -->



            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Your diplomas will be displayed here <span> - Don't forget to show the QR to register your assistance</span></h5>
                  {% if registrations %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col-4">Event Name</th>
        <th scope="col-2">Date</th>
        <th scope="col-1">Start Time</th>
        <th scope="col-1">End Time</th>
        <th scope="col-4">Diploma</th>
      </tr>
    </thead>
    <tbody>
      <!-- Loop through the consolidated events -->
      {% for event in registrations %}
      <tr>
        <td scope="col-4">{{ event.title }}</td>
        <td scope="col-2">{{ event.date }}</td>
        <td scope="col-1">{{ event.start_time }}</td>
        <td scope="col-1">{{ event.end_time }}</td>
        <td scope="col-4">
          <a href="{% url 'hereURL' event.registration.event.id %}" class="btn btn-primary">
            <i class="bi bi-envelope"></i> Send it to my email
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% elif is_reviewer %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col-4">Scientific Committee</th>
        <th scope="col-2">Date</th>
        <th scope="col-1">Start Time</th>
        <th scope="col-1">End Time</th>
        <th scope="col-4">Diploma</th>
      </tr>
    </thead>
    <tbody>
  <tr>
    <td>Scientific Committee</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td scope="col-4">
      
      {% if user.userprofile.FullName and system_settings.allowScientificComitteeDiplomas and system_settings.scientificCommiteeDiplomasTemplate and all_reviews_completed  %}
          <a href="{% url 'scientific_committee_diploma' %}" class="btn btn-primary">
              <i class="bi bi-envelope"></i> Send it to my email
          </a>
      {% else %}
          <button class="btn btn-secondary" disabled>
              <i class="bi bi-envelope"></i> Diploma Not Available
          </button>
      {% endif %}
  </td>
  </tr>
  </tbody> 
  </table>
  {% else %}

  <p>Your assistance has not been registered yet for any event.</p>
{% endif %}
                </div>
              </div>
            </div>
                </div>
              </div>
          </div>
        </div><!-- End Left side columns -->
      </div>
    </section>

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/quill/quill.js' %}"></script>
  <script src="{% static 'assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>
{% endblock %}

</html>

