{% load static %}{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'images/favicon.ico'%}" rel="icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <title>Validate Payments by Admin - CIMPS </title>
</head>
<body>
    <div class="container mt-5">
        <h1>User Profiles</h1>
        <form method="post">
            {% csrf_token %}
            <table id="userProfilesTable" class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th> <!-- New column for Email from extra_data -->
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>User Type</th>
                        <th>Payment Completed</th>
                        <th>File</th>
                        <th>Pay in the event?</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_profile in user_profiles %}
                        <tr>
                            <td>{{ user_profile.user.username }}</td>
                            <td>
                                {% with email=social_extra_data|get_item:user_profile.user.id %}
                                    {{ email.email|default:"No email available" }}
                                {% endwith %}
                            </td>
                            <td>{{ user_profile.user.first_name }}</td>
                            <td>{{ user_profile.user.last_name }}</td>
                            <td>{{ user_profile.user_type }}</td>
                            <td>
                                <input type="checkbox" 
                                       name="payment_completed_{{ user_profile.user.id }}" 
                                       {% if user_profile.payment_completed %}checked{% endif %}>
                            </td>
                            <td>
                                {% for payment in user_profile.paymentproof_set.all %}
                                    <a href="{{request.scheme}}://{{ request.get_host }}{{ payment.file.url }}" target="_blank">{{ payment.file.name }}</a><br>
                                {% empty %}
                                    No files uploaded.
                                {% endfor %}
                            </td>
                            <td>
                                <input type="checkbox" 
                                       name="manual_payment_{{ user_profile.user.id }}" 
                                       {% if user_profile.manualPayment %}checked{% endif %}>
                            </td>
                            <td>
                                <input type="text" 
                                       name="amount_{{ user_profile.user.id }}" 
                                       value="{{ user_profile.amount|default:"0" }}" 
                                       style="width: 100px;"> <!-- Field for amount -->
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="10">No user profiles found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Update Payment Status</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            var table = $('#userProfilesTable').DataTable();
    
            // Antes de enviar el formulario
            $('form').on('submit', function(e) {
                // Iterar sobre todas las filas de la tabla (visibles y no visibles)
                table.rows().every(function(rowIdx, tableLoop, rowLoop) {
                    var row = this.node(); // Obtener la fila correspondiente
                    var checkbox = $(row).find('input[type="checkbox"]'); // Encontrar el checkbox
    
                    // Si el checkbox existe en la fila
                    if (checkbox.length > 0) {
                        // Crear un input hidden para asegurar que se envíe el valor
                        var hiddenInput = $('<input>').attr({
                            type: 'hidden',
                            name: checkbox.attr('name'), // Asigna el mismo nombre del checkbox
                            value: checkbox.is(':checked') ? 'on' : 'off' // Define el valor según si está marcado o no
                        });
                        // Agregar el input hidden al formulario
                        $(e.target).append(hiddenInput);
                    }
                });
            });
        });
    </script>
</body>
</html>
